@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Setting Variables */
:root {
    --montserrat: 'Montserrat', sans-serif;
    
    --fs-xsm: .5625rem;
    --fs-sm: .8125rem;
    --fs-reg: .9375rem;
    --fs-big: 1.75rem;
    --fs-xl: 2.25rem;
    --fs-xxl: 3rem;
    --fs-xxxl: 4rem;

    --vl-grayish-blue: hsl(240, 78%, 98%);
    --lt-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dk-grayish-blue: hsl(232, 13%, 33%);
    --white: hsl(255, 100%, 100%);

    --fw-xl: 700;
    --lin-grad-bt: linear-gradient(to bottom, hsl(236, 72%, 79%) 3%, hsl(237, 63%, 60%));
    --lin-grad-brt: linear-gradient(to bottom right, hsl(236, 72%, 79%) 1%, hsl(237, 63%, 64%)); 
    --shadow: hsl(235, 27%, 81%);

    --b-rad: .5rem;
    --bb-rad: .3125rem;
}
 /* Global Styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
position: relative;
}
html,
body {
height: 100%;
}
body {
    font-family: var(--montserrat);
    font-weight: var(--fw-xl);
    color: var(--dk-grayish-blue);
    background-color: var(--vl-grayish-blue);
    background-image:url('./images/bg-top.svg'), url('./images/bg-bottom.svg');
    background-position: 100% 0, 0 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* Aligning the toggle with its labels */
.toggle-now,
.toggle-later {
    display: inline-block;
    vertical-align: middle;
}

/* Styling the container */
.container {
    position: fixed;
    height: 100%;
    width: 65rem;
    margin: 2rem auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
}
.title,
.terms {
    margin: 3rem auto;
}
.terms  { 
    color: var(--lt-grayish-blue);
    align-items: center;
}
.columns {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tier {
    margin-top: 1px;
}
p {
    border-bottom: 1px solid var(--lt-grayish-blue);
    padding-bottom: 1rem;
}
.pricing {
    color: var(--dk-grayish-blue); 
    width: 100%;
    height: 90%;
    padding: 2rem 1.5rem;
    text-align: center; 
}
span {
    display: inline-block;
}
.dollar {
    display: inline-block;
    vertical-align: middle;
    font-size: var(--fs-xl);
    padding-bottom: .5rem;
    padding-right: .5rem;
}
.price-monthly,
.price-annually {
    font-size: var(--fs-xxxl);
    margin: 0;
    padding: 2.5rem auto;
}
.basic {
    border-radius: var(--b-rad) 0 0 var(--b-rad);
    background: var(--white);
    box-shadow: -1px 3px 10px 2px var(--shadow);
}
.master {
    border-radius: 0 var(--b-rad) var(--b-rad) 0;
    background: var(--white);
    border: 1px solid var(--vl-grayish-blue);
    box-shadow: -1px 3px 10px 2px  var(--shadow);
}
button {
    color: hsl(237, 63%, 64%);
    background: var(--white);
    width: 100%;
    height: 2.5rem;
    font-weight: var(--fw-xl);
    margin-top: 1rem;
    border: 1px solid var(--grayish-blue);
    border-radius: var(--bb-rad);
    cursor: pointer;
}
button:hover {
    color: var(--white);
    background: linear-gradient(to right, hsl(236, 72%, 79%) 35%, hsl(237, 63%, 64%)); 
}
.professional {
    color: white;
    background: var(--lin-grad-bt);  
    border-radius: var(--b-rad);
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    box-shadow: -1px 3px 10px 2px  var(--shadow);
}
.bp {
    color: var(--white);
    background: var(--lin-grad-bt);
    border: 1px solid var(--white); 
}

.bp:hover {
    color:hsl(237, 59%, 65%);
    background: var(--white); 
    border: 1px solid var(--white); 
}

/* Styling that activates on click */
.hidden {
    display: none;
}
.bp2 {
    color: var(--white);
    background:var(--lin-grad-brt); 
    border: 1px solid var(--grayish-blue); 
}
.bp2:hover {
    color: hsl(237, 59%, 65%);
    background: var(--white); 
    border: 1px solid var(--grayish-blue); 
}

footer {
    background-color:hsla(0, 11%, 76%, 0.637);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.5rem;
    font-size: var(--font-sm);
    text-align: center;   
}
.attribution {
    color: var(--black);
    font-size: .875em;
    letter-spacing: .0625rem;
    margin: 0;
}
.attribution a {
    color: var(--blue-at);
}

/* max width  1050px*/
@media screen and (max-width: 65.625em) {
    .container {
        position: absolute;
        max-width: 30rem;
        height: 100%;
        margin: 3rem auto;
    }
    .columns {
        flex-direction: column;
        justify-content: space-between;
    }
    
    .pricing  {
        max-width: 100%;
        margin: 1rem;   
    }
    .basic,
    .master {
        border-radius: 8px;
    } 
    footer {
        height: 1rem;
    }
    .attribution {
        font-size: var(--fs-xsm);
        letter-spacing: .0625rem;
    }
}

/* max width  600px*/
@media screen and (max-width: 37.5em) {
    .container {
        max-width: 25rem;  
    }
}
/* max width  450px*/
@media screen and (max-width: 28.125em) {
    .container {
        max-width: 20rem;  
    }
}

/* max width  375px*/
@media screen and (max-width: 23.4375em) {
    .container {
        max-width: 17rem;  
    }
    .terms  { 
        font-size: var(--fs-sm);
    }
    .price-monthly,
    .price-annually {
        font-size: var(--fs-xxl);
        margin: 0;
        padding: 2.5rem auto;
    }
    .dollar {
        font-size: var(--fs-big);
    }
}

/* max width 320px*/
@media screen and (max-width: 20em) {
    .container {
        max-width: 15rem;  
    }
}